body{
    background: antiquewhite !important;
}
.web-nav{
    width: -webkit-fill-available;
}
.w-19{
    width: 19%;
}

nav{
    overflow-y: auto;
}

.logo-size{
    width: 70%;
    cursor: pointer;
}

.logo-size-panier{
    width: 100%;
    cursor: pointer;
}

li{
    list-style: none;
}

.color-link{
    color: #FFD700;
}

.color-link:hover{
    text-decoration: underline !important;
}

.carrousel-size{
    width: -webkit-fill-available;
}

.color-background{
    padding: 2% 0;
}

.color-background a{
    color: black;
    text-decoration: none;
}

.color-background a:hover{
    text-decoration: underline;
}

.font-bolder{
    font-weight: bold;
}

.card{
    width: 18rem !important;
}

.slide-menu{
    position: fixed;
    top: 6%;
    right: 0;
    z-index: 999;
    padding: 2% 0;
    width: 47%;

}

.point-menu{
    color: #FFD700;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.point-menu:hover{
    text-decoration: underline;
}

.point-menu {
   margin: 10% 0;
}

.img-produit{
    width: 100%;
    border-radius: 15px;
}

.line-separator{
    height: 5rem;
}

.m-content{
    width: min-content;
}

.reglage{
    top: 30%;
    left: 45%;
}

form input{
    border-radius: 15px;
    padding: 5px;
}

form{
    background: white;
    padding: 3%;
    border-radius: 25px;
    margin-top: 4%;
}

button{
    background-color: #FFD700;
    border-radius: 15px !important;
    padding: 15px 10px;
    width: auto;
}

#message,#email{
    width: 26rem;
}

.text-color{
    color:#FFD700;
    font-style: italic;
}

textarea{
    border: 2px solid black;
    border-radius: 15px;
}

legend img{
    width: 50%;
}

.left-25{
    left: 25%;
}

.desc-produits{
    overflow-y: scroll;
    max-height: 25rem;
}

.compteur-panier{
    left: 94%;
    bottom: 35px;
    padding: 0 6px;
    border-radius: 25px;
}



